
*, *:focus, *:active{
	outline:none;
}

a:active, a, a:hover{
	text-decoration: none;
    color:$primary__color;
    transition: all ease .1s;
}
button:focus {
    outline:none;
}
 
body{
    font-family:$main__font;
    font-size:14px;
    color:$maintext__color;
}
h2 {
    font-size:1.78em;
}
h3 {
    font-size:1.42em;
}
p {
    line-height:1.42;
}
a {
    color:#000;
}
h1, h2, h3, h4, h5, h6 {
    color:$headingtext__color;
    margin-bottom: 1rem;
    font-family:$heading__font;
}
.f-medium {
    font-family:$heading__font_medium;
}
hr {
    border-top: 2px solid rgba(0,0,0,.1);
}
.btn:focus {
    box-shadow:none;
}
.container {
    max-width:1120px;
}
.big-font {
    font-size:3.21em;
}
.py-6 {
    padding-bottom: 4rem !important;
    padding-top: 5rem !important;
}
.navbar-toggler {
    border-color: transparent !important;
    color:unset !important;
    &:focus {
        border:none;
    }
}
.bg-center {
    background-size: cover;
    align-items: center;
    background-repeat: no-repeat;
}
.object-cover {
    object-fit: cover;
    width: 100%;
}
.custom-height {
    height:25em;
}
.theme-color{
    color: $primary__color;
}
.theme-bg {
    background-color: $primary__color;
}
.muted-text{
    color: $muted__color;
}
.gray-bg {
    background-color:$secondary__color;
}
// Buttons
.dark-btn {
    font-size: 1.28em;
    box-shadow: 0em 0.7em 1.6em rgba(0,0,0,.08);
    padding: 1.09em 1.8em;
    border-radius: .1em;
    font-weight: bold;
    display: inline-block;
    line-height: 1;
    transition: all ease .3s;
    background-color: $primary__color;
    font-family:$heading__font;
    color: #fff;
    &:hover{
        background-color: darken($primary__color, 25%);
        color: #fff;
    }
}
.small-btn {
    padding: .6em 1.8em !important;
    font-weight:normal;
}
.x-small-btn {
    padding: .6em 1.5em !important;
    font-weight:normal;
}

.form-control {
    padding:.87em 1.8em;
    border:none;
    font-size: 1.28em;
    border-radius: .1em;
    &:focus {
        border:none;
        background-color:#d8d8d8;
        color:#000;
        box-shadow:none;
    }
}
.b-radius {
    border-radius:.21em;
}
.l-radius {
    border-radius:.21em 0 0 .21em;
}
.r-radius {
    border-radius:0 .21em .21em 0;
}


//Section spacing classes
@media (min-width: 768px){
    .burger{
    padding-top: $spacer*3.5;
    padding-bottom: $spacer*3.5;
    }
    .t-burger{
        padding-top: $spacer*3.5 ;
    }
    .b-burger{
        padding-bottom: $spacer*3.5 ;
    }

    .guter{
        padding-left: $spacer*5;
        padding-right: $spacer*5;
    }
    .l-guter{
        padding-left: $spacer*5;
    }
    .r-guter{
        padding-right: $spacer*5;
    }
}
@media (max-width: 767px){
    .burger{
    padding-top: $spacer/2*3.5;
    padding-bottom: $spacer/2*3.5;
    }
    .t-burger{
        padding-top: $spacer/2*3.5 ;
    }
    .b-burger{
        padding-bottom: $spacer/2*3.5 ;

    }
     .guter{
        padding-left: unset;
        padding-right: unset;
    }
    .l-guter{
        padding-left: unset;
    }
    .r-guter{
        padding-right: unset;
    }
}